<h3> All Languages </h3>
        <div class=center>
        <ul>
        <% @languages.each do | language | %>
            
            <li> <h5><%= link_to language.name, language_path(language) %></h5></li>
             
    

        <% end %>
        </ul>
</div>

