<h1> <%= @language.name %> </h1>
<br>
<h2> Language Family:</h2><br>
<h4> <%= @language.language_family %></h4><br>
<h2> Description:</h2><br>
<h4> <%= @language.description %></h4><br>
<h2> Number of Speakers:</h2><br>
<h4> <%= @language.number_of_speakers %></h4>
<br>


