<h4> <%= @language.name %> </h4>
<br>
<h5> Language Family:</h5><br>
<p> <%= @language.language_family %></p><br>
<h5> Description:</h5><br>
<p> <%= @language.description %></p><br>
<h5> Number of Speakers:</h5><br>
<p> <%= @language.number_of_speakers %></p>
<br>


