<% @users.each do | user | %>
<div class="center">
<ul>

<li>  <%= link_to ("#{user.name} has #{user.user_languages.count} Journey(s)!"), user_user_languages_path(user) %> </li> 

</ul>
</div>
<% end %>