<% @users.each do | user | %>
<div class="center">
<ul>
<h5>
<li>  <%= link_to ("#{user.name} has #{user.user_languages.count} Journey(s)!"), user_user_languages_path(user) %> </li> 
</h5>
</ul>
</div>
<% end %>