<h1>SIGN UP</h1>
<br>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |error| %>
        
            <h5 class="error"><%= error %></h5>

        <% end %>
    <% end %>
<br>
<%= render "form" %>