<h1> <%= @user.name %> </h1>
        
        <%= @user.username %>
        <br>
        <%= @user.email %>
        <br>
        <ul>
        
<h3> Currently Learning! </h3>
        <% @user.user_languages.each do | lang | %>
       <h2><li> <%= link_to lang.language.name, user_language_path(lang.id) %> </li></h2>
        <%end%>


        </ul>





      