
<h2>  HOMEPAGE </h2>
<br>

<div class="center">
<ul>
<p>
Welcome to Polyglotters, a platform for people who enjoy learning multiple languages at the same time. Begin doccumenting your language language learning journeys by singing up or logging in with Google!
</p>
</ul>
</div>


<h4> The Latest Language Journeys : </h4>
<div class="center">
<% @latest_user_languages.each do | user_language |%>

<ul>
 <li> <%= link_to ("#{user_language.user.name}'s #{user_language.language.name} Journey" ),user_language_path(user_language) %> </li>
 </ul>

<% end %> 
 </div>