<br>
--------------------------------------------------------------
<br>
<h1>  HOMEPAGE </h1>
<br>
<h4>  <%= link_to "language stories", user_languages_path %> </h4>
<br>
 <h4>  <%= link_to "Languages", languages_path %> </h4> 

  <h4>  <%= button_to "Log in with Google", '/auth/google_oauth2/'%> </h4> 

<h4>Most Spoken Language </h4>
<%= link_to @most_spoken_language.name, language_path(@most_spoken_language.id) %>

