body {
    
    background-image: url("resized_logo.png");
    
    background-color: lightblue;       <<<Try hexadecimal, RGB, color
    background-size: 100%;         <<< Try %, pixels(px)
    color: white;                  <<<Try hexadecimal, RGB, word
    text-align: center;            <<<Try left/right/center

}


.header-img {
    width: 100%;
    height: 400px;
    background: url('images/resized_logo.png');
    background-size: cover;
  } 
#a hash syntax styles anchor tags
a {
    text-decoration: none;      <<<removes underline from hyperlink
    font-family: Arial;         <<< can also customize fonts
    font-size: 30px;            <<<px,%,small, medium, large
    font-weight: bold;          <<<Thin/light/normal/medium/bold
}

a:hover styles links as a mouse hovers over them. a:visited styles links that have been clicked on.
a:link {             
    color: white;
}
a:hover {
    color:yellow;
}
a:visited {
    color: clear;
}
h1,h2,h3, h4,p { 
    text-align: center;  
                 
}

.navmenu {
    margin-bottom: 3cm;
 }

#if you set a div with a classname you can select it with dot notation ex: <div class="container"> . </div>
you would select with .<classname>
.container {
}
#selecting a anchor tag within a nav tag <nav> <%=link_to "whatever", user_path</nav>
.nav a {                     <<<<can access nested tags this way
}

.error {
    color: red;
    font-size: 33px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* li a {
    display: block;
    width: 10px;
    background-color: #d41717;
  } */

 

.navbar {
   
    /* font-size: ; */
    padding: 30px;
    font-size: medium;
  }
  
  .navlinks-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navlink-li {
    display: inline;
    margin: 20px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 16px;
  }

 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: lightgreen;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #555;
    color: white;
  }

  .center {
    /* Magic here */
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .ul-card {
  /* Magic here */
 display: flex;
 justify-content: center;
 align-items: center;

}

 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}




.navmenu-li {
  /* float: left; */
  display: block;
  color: white;
  text-align: center;
  width: 100%;
  padding: 16px 18px;
  text-decoration: none;
  background-color: cornflowerblue;
}


.navmenu-table{

  width: 100%
  
}

