body {
    
    /* background-image: url("resized_logo.png"); */
    
    background-color: lightblue;       <<<Try hexadecimal, RGB, color
    background-size: 100%;         <<< Try %, pixels(px)
    color: white;                  <<<Try hexadecimal, RGB, word
           
  
}



#a hash syntax styles anchor tags
a {
    text-decoration: none;      <<<removes underline from hyperlink
    font-family: Arial;         <<< can also customize fonts
    font-size: 30px;            <<<px,%,small, medium, large
    font-weight: bold;          <<<Thin/light/normal/medium/bold
}

a:hover styles links as a mouse hovers over them. a:visited styles links that have been clicked on.
a:link {             
    color: white;
}
a:hover {
    color:yellow;
}
a:visited {
    color: clear;
}
h1,h2,h3, h4,p { 
    text-align: center;  
   
                 
}

.navmenu {
    margin-bottom: 3cm;
    margin-right: 3cm;
 }



.error {
    color: red;
    font-size: 33px; 
}

ul {
    list-style-type: none;

     
  }


.logo {
  text-align: center;
  margin-bottom: 0;
}

img {
  width: 250px;
  height: 250px;
}
.navbar {
   
 
    padding: 30px;
    font-size: medium;
  }
  
  .navlinks-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navlink-li {
    display: inline;
    margin: 20px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 16px;
  }

 

  ul {
    list-style-type: none;
    
    padding: .5;
    width: 250px;
    background-color: lightblue;
  }

  ul.side-nav {
    list-style-type: none;
    /* margin: .5; */
    padding: .5;
    width: 250px;
    background-color: lightcoral;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #555;
    color: white;
  }

  .center {
    
   display: flex;
   justify-content: center;
   align-items: center;
   
 }

 div.ul-card {
 
  display: flex;
 justify-content: center; 
 align-items: center;
 

}

 
ul.ul-ul {
  background-color: darkkhaki;
}

h5.ul-ul {
  padding-left: 1.5;
  text-align: center;
  margin-left: 0;
  
}


.navmenu-li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  width: 100%;
  padding: 16px 18px;
  text-decoration: none;
  background-color: cornflowerblue;
  /* margin-left: 0; */
}

.navmenu-last-li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  width: 100%;
  padding: 16px 16px;
  text-decoration: none;
  background-color: cornflowerblue;
  margin-right: 16px;
  padding-right: 5px;
  /* margin-left: 0; */
}
.homepage-paragraph {
  font-weight: bold;
}

.navmenu-table{

  width: 100%;
  /* margin-right: 1em; */
  
}

