 <h1>Check Out These Polyglotters' Language Learning Journey! </h1>
 
 
 <br>
 <ul>

<%=  @user_languages.each do |user_language|%>
 
 <li><%= link_to ("#{user_language.user.name}'s #{user_language.language.name} Journey" ),user_language_path(user_language) %></li>
             
            <br><br>

 <% end %>

</ul>




      