<ul class="navmenu-ul">
  
  <li class="navmenu-li"><%= link_to "All Journeys!", user_languages_path %> </li>

  <li class="navmenu-li"><%= link_to "Languages", languages_path %> </li>

  <li class="navmenu-li"><a><%= link_to "Home", home_path  %></a></li>

</ul>