


 <nav>
    <div class="nav-wrapper green lighten-1">
    
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Home", home_path  %> </li>
        <li><%= link_to "All Journeys!", user_languages_path %></li>
        <li><%= link_to "All Langauges!", languages_path %></li>
        <li><%= link_to "All Users", users_path %></li>
      </ul>
    </div>
  </nav>